@import "../../root.css";

.UserPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 75%;
  height: 50%;
}

.Header {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary);
  text-align: center;
  align-items: center;
}

.BackButtonDiv {
  width: fit-content;
}
.BackButton {
  border: 1px solid var(--accent);
  border-radius: 15px;
  background-color: var(--accent);
  color: var(--background);
  transition: all 0.2s ease-in-out;
}

.BackButton:hover {
  box-shadow: 0 0 5px var(--accent);
}

.Body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.TopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.Favorites,
.Comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 1rem;
}
.Generation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Generations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem;
}

@media (max-width: 767px) {
  .UserPage {
    width: 100%;
    height: 100%;
  }
  .Body {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .Selections {
    width: 100%;
    height: 100%;
  }
  .TopRow {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .Favorites,
  .Comments {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .Generation {
    width: 100%;
    height: 75%;
    margin: 1rem 0 1rem;
    .Card {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}
