.Nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    align-items: center;
    padding: 1rem;
    border-right: 1px solid #e0e0e0;
    font-size: 1.3rem;
  }

  @media (max-width: 767px) {
    .Nav {
      flex-direction: row;
      width: 100%;
      height: 10%;
      border-right: none;
      border-bottom: 1px solid #e0e0e0;
    }
  }