.Browser {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  width: 90vw;
}

@media (max-width: 767px) {
  .Browser {
    margin-top: 21%;
    margin-left: 1rem;
    z-index: 0;
  }
}

.ListItemContainer {
  margin-right: 1rem;
}

.ListItem {
  padding: 0.5rem 0;
}
