@import "../root.css";

.ViewGen {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.ViewGenHeader {
  position: sticky;
  top: 0;
  padding: 1rem 0 0;
  background-color: var(--background);
}

.Favorite {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ViewGenContent {
  flex-grow: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent);
}

.CommentsDiv {
  margin: 1rem 0 3rem;
}

.CommentForm {
  margin: 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CommentInput {
  width: 75%;
  height: 3rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--background);
  color: var(--text);
  white-space: pre-wrap;
}

.CommentSubmit {
  margin-top: 0.5rem;
  width: 25%;
  height: 3rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--background);
  color: var(--text);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.CommentSubmit:hover {
  background-color: var(--primary);
  color: var(--background);
}

.GenComments {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.ViewGenComment {
  white-space: pre-wrap;
  margin: 1rem 1rem 0.5rem;
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem;
  width: 50%;
}

.ViewGenCommentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ViewGenCommentContent {
  margin-top: 0.3rem;
}
