@import "../../root.css";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.UploadButton {
  padding: 10px;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--background);
  border-radius: 20px;
  width: 75%;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

.UploadButton:hover {
  box-shadow: 0 0 10px var(--accent);
  transform: scale(1.05);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button[type="submit"]:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary);
}

.UploadBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  overflow: hidden;
}
