@import "../../root.css";

.World {
  width: 75vw;
}

.WorldHeader {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  width: 75%;
  background-color: var(--background);
}

.BackButton {
  width: fit-content;
  font-size: 14px;
  margin-top: 0.2rem;
  padding: 0.2rem;
  border: 1px solid var(--secondary);
  cursor: pointer;
}
.BackButton:hover {
  border: 1px solid var(--accent);
}

.CategoriesList {
  margin-top: 120px;
}

.CategoryTitle {
  position: fixed;
  width: 100%;
  background-color: var(--background);
  padding-bottom: 5px;
}

.Category {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 100%;
}

.CategoryList {
  margin-top: 100px;
}

.Object {
  margin-top: 150px;
}

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.PrevPage,
.NextPage {
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 0.25rem;
  background-color: var(--primary);
  color: var(--background);
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.PrevPage:hover,
.NextPage:hover {
  background-color: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.PageNumber {
  margin: 0 0.5rem;
  color: var(--primary);
}

@media (max-width: 767px) {
  .WorldHeader {
    padding-top: 1rem;
  }
}
