@import "../../root.css";

.World {
  width: 75vw;
}

.WorldHeader {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  width: 100%;
  background-color: var(--background);
}

.BackButton {
  width: fit-content;
  font-size: 14px;
  margin-top: 0.2rem;
  padding: 0.2rem;
  border: 1px solid var(--secondary);
  cursor: pointer;
}
.BackButton:hover {
  border: 1px solid var(--accent);
}

.CategoriesList {
  margin-top: 120px;
}

.CategoryTitle {
  position: fixed;
  width: 100%;
  background-color: var(--background);
  padding-bottom: 5px;
}

.Category {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 100%;
}

.CategoryList {
  margin-top: 100px;
}

.Object {
  margin-top: 150px;
}

@media (max-width: 767px) {
  .WorldHeader {
    padding-top: 1rem;
  }
}
